---
localcss: init.css
title: "Accessibility Pulse Component"
id: a11y-smoke-test
---

<dialog class="a11y-pulse" dir="ltr" lang="en-US" open>

    <div class="a11y-pulse__controls">

        <button class="a11y-pulse__btn a11y-pulse__btn--close"><img alt="Close Dialog" src="{{ site.url }}{{ site.baseurl }}/pulse/img/btn-close.png"></button>

    </div>

    <h1 class="a11y-pulse__heading"><img alt="" src="{{ site.url }}{{ site.baseurl }}/pulse/img/icon-48.png"> <span>A11y Pulse</span> <small>v1.06</small></h1>
    
    <h2>Tests</h2>
    
    <div class="accordion" data-disable-anchor>

        <h2 class="accordion__heading"><button id="automated-tests" class="accordion__toggle"><span>Automated Tests</span></button></h2>
      
        <div class="accordion__panel">

                <h3 class="a11y-pulse__info__heading">Automated Testing: Mandatory</h3>

                <p>Web pages must always be validated. Errors flagged by WAVE or heading validation tools must be addressed. Accessibility and QA engineers should link directly to validation reports in BugHerd or JIRA when filing issues.</p>

                <p><b>Who is responsible?</b> Development & QA</p>

                <ul>
                    <li><a class="validate-wave" href="https://wave.webaim.org/" target="_blank">WAVE Validation <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                    <li><a class="validate-heading" href="{{ site.url }}{{ site.baseurl }}/pulse/headings" target="_blank">Heading Validation <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                </ul>

                <div id="magicbullet-message" class="warning-info">

                    <p><strong>Issue:</strong> MagicBullet is not currently installed on this site. Please log an issue requesting its installation. Adding it will help address many product-related accessibility issues. See the <a href="https://radancy.dev/magicbullet/a11y/" target="_blank">support page <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a> for installation details.</p>

                </div>

                <div class="a11y-pulse__info a11y-pulse__info--reminder reminder-info">

                    <h3 class="a11y-pulse__info__heading">Development Reminder!</h3>
    
                    <p>Have you tested your work with Axe? Radancy developers are responsible for identifying and resolving all critical and serious accessibility issues. QA testing is optional at this time.</p>
    
                    <ul>
                        <li><a href="https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US" target="_blank">Chrome <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                        <li><a href="https://addons.mozilla.org/en-US/firefox/addon/axe-devtools/" target="_blank">FireFox <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                        <li><a href="https://microsoftedge.microsoft.com/addons/detail/axe-devtools-web-access/kcenlimkmjjkdfcaleembgmldmnnlfkn" target="_blank">Edge <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                    </ul>
    
                </div>

                <h3>Automated Testing: Optional</h3>

                <p>The following tests are available but optional.</p>

                <ul>
                    <li><a class="validate-css" href="http://jigsaw.w3.org/css-validator/" target="_blank">Validate CSS <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                    <li><a class="validate-link" href="https://validator.w3.org/checklink" target="_blank">Validate Links <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                    <li><a class="validate-spelling" href="https://www.w3.org/2002/01/spellchecker" target="_blank">Validate Spelling <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                    <li><a class="validate-structured-data" href="https://search.google.com/test/rich-results" target="_blank">Validate Structured Data (SEO) <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                </ul>

        </div>

        <h2 class="accordion__heading"><button id="manual-test" class="accordion__toggle"><span>Manual Tests</span></button></h2>
      
        <div class="accordion__panel">


            <h3 class="a11y-pulse__info__heading">Manual Testing</h3>

                <p>Web pages may have deeper problems that automated tools cannot find, so manual testing methods will need to be performed instead. The following are common and useful tools you may use for closer analysis.</p>

                <p><b>Who is responsible?</b> Development, QA, Specialists</p>

                <h3>Images</h3>

                <ul>
                    <li><a class="validate-image" href="{{ site.url }}{{ site.baseurl }}/pulse/images" target="_blank">Review Images <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                </ul>

                <h3>Magnification</h3>

                <ul>
                    <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/reflow-320x256.js">Test Page Reflow (320x256)</button></li>
                    <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/reflow-1280x1024.js">Test Page Reflow (1280x1024)</button></li>
                </ul>

                <h3>Color</h3>

                <ul>
                    <li><button data-script="contrast" data-fragment="color-contrast">Test Contrast</button>
                    <li><button data-script="contrast" data-fragment="link-contrast">Test Link & Text Contrast</button>
                </ul>

                <h3>Typography</h3>

                <ul>
                    <li><button data-script="typography" data-fragment="default-font">Change Default Font Size</button>
                    <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/text-spacing.js">Text Spacing</button></li>
                </ul>

                <h3>Internationalization</h3>

                <ul>
                    <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/i18n-rtl.js">Show Right-to-left (RTL)</button>
                    <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/i18n-ltr.js">Show Left-to-right (LTR)</button>
                    <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/i18n-lang.js">Show Document Language</button>
                </ul>

                <h3>Animation</h3>

                <ul>
                    <li><a href="https://trace.umd.edu/peat/" target="_blank">Download PEAT (Photosensitive Epilepsy Analysis Tool) <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                </ul>

                <p><strong>Note:</strong> Animations that fail PEAT should be brought to the attention of your team immediately. Please contact <a href="mailto:{{site.owner-email}}">{{site.owner-name}}</a> for more information.</p>

                <h3>Visual</h3>

                <ul>
                    <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/focus.js">Force Focus</button></li>
                </ul>

                <h3>PDF</h3>

                <ul>
                    <li><a href="https://pdfua.foundation/en/pdf-accessibility-checker-pac/register" target="_blank">Download PAC (PDF Accessibility Checker) <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                </ul>

                <p><strong>Note:</strong> PDF remediation is unlike web remediation and will need to go through a third party. Please contact <a href="mailto:{{site.owner-email}}">{{site.owner-name}}</a> for more information.</p>

                <h3>Other</h3>

                <ul>
                    <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/isolator.js">Isolate Code Blocks</button></li>
                </ul>


        </div>

        <h2 class="accordion__heading"><button id="w3c-validation-services" class="accordion__toggle"><span>W3C Validation</span></button></h2>
      
        <div class="accordion__panel">

            <h3>W3C Validation Services</h3>

            <p>Please note that as of WCAG 2.2, 4.1.1 Parsing (Level A) has been removed and is no longer required. Issues previously identified by this criterion are typically caught through other testing methods. However, it remains a best practice for developers to continue validating their work.</p>

            <ul>
                <li><a class="validate-w3c" href="https://validator.w3.org/nu/" target="_blank">W3C Validation <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a>
                
                    <h4>Advanced (Dev Only)</h4>

                    <ul>
                        <li>
                        
                            <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/dom-validate.js">W3C Validation (Serialized DOM) <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></button>
        
                            - <span>Runs validation on entire DOM (Document Object Model), including <strong>script generated content</strong>. Cannot be linked to.</span>
        
                        </li>
                        <li>
        
                            <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/wcag-parsing.js">WCAG Parsing</button>
        
                            - <span>Not all errors may affect accessibility. Run on W3C Validator <em>results page</em> to remove non-WCAG issues.</span>
        
                        </li>
                    </ul>
            
                
                </li>
            </ul>

            <h3>Validate HTML by Direct Input</h3>

            <form action="https://validator.w3.org/nu/?showsource=yes" enctype="multipart/form-data" id="submitPartialPage" method="post" target="_blank">

                <input name="showsource" type="hidden" value="yes">

                <label for="contentToValidate">Enter the Markup to validate:</label>

                <textarea cols="60" name="contentToValidate" id="contentToValidate" placeholder="e.g., <p>Hello World!</p>" required rows="5"></textarea>

                <button class="btn" id="submitValidate" type="submit">Validate</button>

            </form>

        </div>

        <h2 class="accordion__heading"><button id="audits" class="accordion__toggle"><span>Audits (Specialists Only)</span></button></h2>
      
        <div class="accordion__panel">

            <ul>
                <li>
                    
                    <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/career-site-pages.js">Get Career Site Pages</button>
                
                    - Generates a spreadsheet of key career site pages to be used in accessibility testing. Please allow up to several minutes to scan.

                    <div class="status-container status-container--career-site-pages"></div>
                    
                    <p class="status-message status-message--career-site-pages"></p>

                </li>
                <li>
                    
                    <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/career-site-images.js">Get Career Site Images</button>
                
                    - Generates a spreadsheet of all images and alternative text used across a career site. Please allow up to several minutes to scan. 
                
                    <div class="status-container status-container--career-site-images"></div>
                    
                    <p class="status-message status-message--career-site-images"></p>
                
                </li>
            </ul>


        </div>

        <!-- h2 class="accordion__heading"><button id="ai-tools" class="accordion__toggle"><span>AI Tools (Experimental) <img alt="" src="{{ site.url }}{{ site.baseurl }}/pulse/img/btn-ai.png"></span></button></h2>
      
        <div class="accordion__panel">

            <ul>
                <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/ai-images.js">Generate Alternative Text <img alt="" src="{{ site.url }}{{ site.baseurl }}/pulse/img/btn-ai.png"></button>
            </ul>

        </div -->

        <h2>Baseline Guidance</h2>

        {% include baselines.html %}

        <h2 class="accordion__heading"><button id="other-tools" class="accordion__toggle"><span>Other Tools and Resources</span></button></h2>
          
        <div class="accordion__panel">

        <details>

            <summary>Advanced Testing</summary>

            <p>More advanced tools and resources for specialized accessibility testers.</p>

            <ul>
                <li><a href="https://amp.levelaccess.net/login.php" target="_blank">Level Access AMP <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a>

                    <h3>Access Assistant</h3>

                    <ul>
                        <li><a href="https://amp.levelaccess.net/download/assistant.php?version=2&amp;browser=chrome" target="_blank">Chrome Extension <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                        <li><a href="https://amp.levelaccess.net/download/assistant.php?version=2&amp;browser=firefox" target="_blank">Firefox Plugin <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                        <li><a href="https://amp.levelaccess.net/download/assistant.php?version=2&amp;browser=edge" target="_blank">Edge Extension (Beta) <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                        <li><a href="https://amp.levelaccess.net/download/assistant.php?version=2&amp;browser=ie" target="_blank">Internet Explorer 11 Plugin <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                    </ul>

                    <h3>Continuum Explorer Pro</h3>

                    <ul>
                        <li><a href="https://chrome.google.com/webstore/detail/continuum-explorer-pro/pgkgokkkoamjdmbnegbedepbhbgecplj?hl=en-US" target="_blank">Chrome Extension <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                    </ul>

                    <h3>Accessible Color Tools</h3>

                    <ul>
                        <li><a href="https://chrome.google.com/webstore/detail/accessible-color-picker/bgfhbflmeekopanooidljpnmnljdihld" target="_blank">Accessible Color Picker for Chrome <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                        <li><a href="https://www.levelaccess.com/reference/index.php/Color-Contrast-Checker" target="_blank">Color Contrast Checker <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                    </ul>

                </li>
            </ul>

        </details>

        <details>

            <summary>Third-party Testing</summary>

            <p>While automated and manual testing techniques can take us far, they will never equal the lived experience of individuals who are disabled, so having people with disabilites test your websites and products is a must.</p>

            <ul>
                <li><a href="https://access-works.com/" target="_blank">Access Works <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png" target="_blank"></a></li>
                <li><a href="https://theweco.com/" target="_blank">WeCo Digital Accessibility <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png" target="_blank"></a></li>
            </ul>

        </details>

        <details>

            <summary>Screen Readers</summary>

            <p>Accessibility testing is not complete until the work has been engaged with via a screen reader. Listening to your work is just as important as visual inspection.</p>

            <ul>
                <li>
                
                    <a href="https://support.freedomscientific.com/Downloads/JAWS" target="_blank">JAWS (Paid, 30 Minute Mode) <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a>

                    <ul>
                        <li><a href="https://webaim.org/resources/shortcuts/jaws" target="_blank">Keyboard Shortcuts for JAWS <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                    </ul>

                </li>
                <li>
                
                    <a href="https://www.nvaccess.org/download/" target="_blank">NVDA (Free) <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a>

                    <ul>
                        <li><a href="https://webaim.org/resources/shortcuts/nvda" target="_blank">Keyboard Shortcuts for NVDA <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                    </ul>

                </li>
                <li><a href="https://support.apple.com/guide/mac-help/change-voiceover-preferences-accessibility-mh40578/mac" target="_blank">VoiceOver for Mac <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                <li><a href="https://support.microsoft.com/en-us/windows/hear-text-read-aloud-with-narrator-040f16c1-4632-b64e-110a-da4a0ac56917" target="_blank">Windows Narrator <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
            </ul>

        </details>

        <details>

            <summary>Testing Resources</summary>

            <ul>
                <li><a href="https://www.w3.org/WAI/people-use-web/" target="_blank">How People with Disabilities Use the Web (User Stories) <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                <li><a href="https://thepaciellogroup.github.io/AT-browser-tests/" target="_blank">HTML Element Test File Index <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
                <li><a href="https://www.powermapper.com/tests/screen-readers/" target="_blank">PowerMapper - Screen Reader Reliability <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
            </ul>

        </details>

    </div>

    <!-- TODO: include 2.5.3 Label in Name -->

    <footer>

        <ul>
          <li><a href="{{ site.url }}{{ site.baseurl }}" target="_blank">Accessibility at Radancy <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/pulse/about/" target="_blank">About A11y Smoke Test <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></li>
          <li><a href="mailto:a11y@radancy.com">Contact Accessibility Team <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></li>
          <li><a href="https://jira.tmp.com/browse/TCDQ-60657" target="_blank">Report Issue <img alt="(Opens in new window)" src="{{ site.url }}{{ site.baseurl }}/pulse/img/new-tab.png"></a></li>
        </ul>
    
        <p><small>&copy; {{ "now" | date: "%Y" }} Radancy. An equal opportunity employer.</small></p>
    
    </footer>

</dialog>

<script>document.querySelector(".a11y-pulse").removeAttribute("open");</script>
    