---
localcss: init.css
title: "Accessibility Pulse Component"
id: a11y-smoke-test
---

{% include pulse/variables.html %}

<dialog class="a11y-pulse" dir="ltr" lang="en-US">

    <header class="a11y-pulse__banner">
        
        <h1 class="a11y-pulse__label">
            
            <img alt="" src="{{ site.url }}{{ site.baseurl }}/pulse/img/icon-48.png"> A11y Pulse v{{ appVersion }}
        
        </h1>

        <div class="a11y-pulse__controls">

            <button aria-label="Minimize" class="a11y-pulse__btn a11y-pulse__btn--minimize"><img alt="" src="{{ site.url }}{{ site.baseurl }}/pulse/img/btn-minimize.png"><img alt="" src="{{ site.url }}{{ site.baseurl }}/pulse/img/btn-maximize.png"></button>
            <button aria-label="Close Dialog" class="a11y-pulse__btn a11y-pulse__btn--close"><img alt="" src="{{ site.url }}{{ site.baseurl }}/pulse/img/btn-close.png"></button>

        </div>

    </header>

    <div class="a11y-pulse__container">
        
        <div class="accordion" data-disable-anchor>

            <h2>Testing</h2>

            <h3 class="accordion__heading"><button id="alerts" class="accordion__toggle"><span>Alerts</span></button></h3>
        
            <div class="accordion__panel">

                <h3>Issue(s) Found</h3>

                <p>Page issues have been automatically detected. Please review and log them as soon as possible to ensure they're tracked and resolved promptly.</p>

                <div id="magicbullet-message" class="warning-info" hidden>

                    <p><strong>Issue:</strong> MagicBullet is not currently installed on this site. Adding it will help address many product-related accessibility issues. See the <a href="https://radancy.dev/magicbullet/a11y/" target="_blank">support page {{ newWindow }}</a> for installation details.</p>

                </div>

                <div id="language-message" class="warning-info" hidden>

                    <p><strong>Issue:</strong> The document does not specify the current language in use. The <code>html</code> element must contain a <code>lang</code> attribute and proper language code. See <a href="https://www.w3.org/WAI/WCAG22/Understanding/language-of-page.html" target="_blank">Understanding SC 3.1.1: Language of Page (Level A) {{ newWindow }}</a> for more details.</p>

                </div>

            </div>

            <h2 class="accordion__heading"><button id="automated-tests" class="accordion__toggle"><span>Automated Testing</span></button></h2>
        
            <div class="accordion__panel">

                <h3>Mandatory: Development & QA</h3>

                <p>Web pages must always be validated. Errors flagged by WAVE or heading validation tools must be addressed. Accessibility and QA engineers should link directly to validation reports in BugHerd or JIRA when filing issues.</p>

                <p><b>Who is responsible?</b> Development & QA</p>

                <ul>
                    <li>{% include pulse/test/validation-wave.html %}</li>
                    <li>{% include pulse/test/validation-heading.html %}</li>
                </ul>

                <div class="a11y-pulse__info a11y-pulse__info--reminder reminder-info">

                    <h3 class="a11y-pulse__info__heading">Development Reminder!</h3>
    
                    <p>Have you tested your work with Axe? Radancy developers are responsible for identifying and resolving all critical and serious accessibility issues. QA testing is optional at this time.</p>
    
                    <ul>
                        <li><a href="https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US" target="_blank">Chrome {{ newWindow }}</a></li>
                        <li><a href="https://addons.mozilla.org/en-US/firefox/addon/axe-devtools/" target="_blank">FireFox {{ newWindow }}</a></li>
                        <li><a href="https://microsoftedge.microsoft.com/addons/detail/axe-devtools-web-access/kcenlimkmjjkdfcaleembgmldmnnlfkn" target="_blank">Edge {{ newWindow }}</a></li>
                    </ul>
    
                </div>

                <h3>Optional</h3>

                <p>The following tests are available but optional.</p>

                <ul>
                    <li>{% include pulse/test/validation-css.html %}</li>
                    <li>{% include pulse/test/validation-link.html %}</li>
                    <li>{% include pulse/test/validation-spelling.html %}</li>
                    <li>{% include pulse/test/validation-seo.html %}</li>
                </ul>

            </div>

            <h2 class="accordion__heading"><button id="manual-test" class="accordion__toggle"><span>Manual Testing</span></button></h2>
        
            <div class="accordion__panel">

                <h3 class="a11y-pulse__info__heading">Mandatory: Development & QA</h3>

                <p>Web pages may have deeper problems that automated tools cannot find, so manual testing methods will need to be performed.</p>

                <p><b>Who is responsible?</b> Development, QA, A11y Specialists</p>

                <h3>Images</h3>

                <p>See <a href="#non-text-content-images">1.1.1: Non-text Content (Alternative Text, Level A)</a> for more guideline and testing details.</p>
       
                <h3>Captions</h3>

                <p>See <a href="#captions-pre-recorded">1.2.2: Captions (Prerecorded) (Level A)</a> for more guideline and testing details.</p>

                <h3>Information and Relationships</h3>

                <p>See <a href="#info-and-relationships">1.3.1: Info and Relationships (Level A)</a> for more guideline and testing details.</p>

                <h3>Use of Color</h3>

                <p>See <a href="#use-of-color">1.4.1: Use of Color (Level A)</a> for more guideline and testing details.</p>

                <h3>Contrast</h3>

                <p>See <a href="#contrast-minimum">1.4.3: Contrast (Minimum) (Level AA)</a> for more guideline and testing details.</p>

                <h3>Resize Text</h3>

                <p>See <a href="#resize-text">1.4.4: Resize Text (Level AA)</a> for more guideline and testing details.</p>

                <h3>Non-text Contrast</h3>

                <p>See <a href="#reflow">1.4.10: Reflow (Level AA)</a> for more guideline and testing details.</p>

                <h3>Keyboard</h3>

                <p>See <a href="#keyboard">2.1.1: Keyboard (Level A)</a> for more guideline and testing details.</p>

                <h3>Pause, Stop, Hide & High Flash Rate</h3>

                <p>See <a href="#pause-stop-hide">2.2.2: Pause, Stop, Hide (Level A)</a> for more guideline and testing details.</p>

                <h3>Three Flashes or Below Threshold</h3>

                <p>See <a href="#three-flashes-or-below">2.3.1: Three Flashes or Below Threshold (Level A)</a> for more guideline and testing details.</p>

                <h3>Bypass Blocks</h3>

                <p>See <a href="#bypass-blocks">2.4.1: Bypass Blocks (Level A)</a> for more guideline and testing details.</p>

                <h3>Page Titled</h3>

                <p>See <a href="#page-titled">2.4.2: Page Titled (Level A)</a> for more guideline and testing details.</p>

                <h3>Focus Order</h3>

                <p>See <a href="#focus-order">2.4.3: Focus Order (Level A)</a> for more guideline and testing details.</p>

                <h3>Focus Order & Visibiliy</h3>

                <p>See <a href="#focus-visible">2.4.7: Focus Visible (Level AA)</a> for more guideline and testing details.</p>

                <h3>Development-Only Testing</h3>

                <p>The current tests are currently optional for QA. Development must still ensure these ctiteria are being met.</p>

                <h3>Non-text Content</h3>

                <p>See <a href="#non-text-content-components-multimedia">1.1.1: Non-text Content (Components and Multimedia, Level A)</a> for more guideline and testing details.</p>

                <h3>Name, Role, Value</h3>

                <p>See <a href="#name-role-value">4.1.2: Name, Role, Value (Level A)</a> for more guideline and testing details.</p>

            </div>

            <h2 class="accordion__heading"><button id="w3c-validation-services" class="accordion__toggle"><span>W3C Validation</span></button></h2>
        
            <div class="accordion__panel">

                <h3>W3C Validation Services</h3>

                <p>While it is still best practice for developers to continue to validate their markup, please note that as of WCAG 2.2, <strong>4.1.1 Parsing (Level A)</strong> has been removed. As a result, this is no longer a required QA test. Issues previously flagged under this guideline are generally caught through other testing methods.</p>

                <p><b>Who is responsible?</b> Development & Accessibility Engineers</p>
                
                <ul>
                    <li><a class="validate-w3c" href="https://validator.w3.org/nu/" target="_blank">W3C Validation {{ newWindow }}</a>
                    
                        <h4>Advanced Validation</h4>

                        <ul>
                            <li>
                            
                                <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/dom-validate.js">W3C Validation (Serialized DOM) {{ newWindow }}</button>
            
                                - <span>Runs validation on entire DOM, including <strong>script generated content</strong>. Cannot be linked to.</span>
            
                            </li>
                            <li>
            
                                <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/wcag-parsing.js">WCAG Parsing</button>
            
                                - <span>Not all errors may affect accessibility. Run on W3C Validator <em>results page</em> to remove non-WCAG issues.</span>
            
                            </li>
                        </ul>
                                    
                    </li>
                </ul>

                <form action="https://validator.w3.org/nu/?showsource=yes" class="a11y-pulse__form" enctype="multipart/form-data" id="submitPartialPage" method="post" target="_blank">

                    <fieldset>

                        <legend>Validate HTML by Direct Input</legend>
                    
                        <input name="showsource" type="hidden" value="yes">

                        <p id="note-char"><em>Maximum of <strong id="charlimit">2049</strong> characters.</em></p>

                        <label for="contentToValidate">Markup:</label>

                        <textarea aria-describedby="note-char" cols="60" name="contentToValidate" id="contentToValidate" maxlength="2049" placeholder="e.g., <p>Hello World!</p>" required rows="5"></textarea>
                        
                        <button class="a11y-pulse__cta" id="submitValidate" type="submit">Validate {{ newWindow }}</button>

                    </fieldset>

                </form>

            </div>

            <h2 class="accordion__heading"><button id="audits" class="accordion__toggle"><span>Auditing Tools & Resources</span></button></h2>
        
            <div class="accordion__panel">

                <h2>Tools for Specialists</h2>

                <p>More advanced tools and resources for specialized accessibility testing.</p>

                <details>

                    <summary>Audit Setup</summary>

                    <p>A collection of tools designed to assist in preparing, organizing, and executing accessibility audits efficiently.</p>
    
                    <ul>
                        <li><a href="{{ site.url }}{{ site.baseurl }}/audit/boilerplate">Testing Sheet {{ newWindow }}</a> - Bolierplate sheet used to set up a new audit.</li>
                        <li>
                            
                            <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/career-site-pages.js">Get Career Site Pages</button>
                        
                            - Generates key career site pages to be used in testing. Please allow up to several minutes to scan.
    
                            <div class="status-container status-container--career-site-pages"></div>
                            
                            <p class="status-message status-message--career-site-pages"></p>
    
                        </li>
                        <li>
                            
                            <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/career-site-images.js">Get Career Site Images</button>
                        
                            - Generates all images and alternative text used across a career site. Please allow up to several minutes to scan. 
                        
                            <div class="status-container status-container--career-site-images"></div>
                            
                            <p class="status-message status-message--career-site-images"></p>
                        
                        </li>
                        <li><a href="https://login.pope.tech/login?redirect=/" target="_blank">PopeTech {{ newWindow }}</a> - Automated web accessibility testing tool that scans websites for WCAG compliance issues using the WAVE engine, helping organizations identify and fix accessibility barriers.</li>
                    </ul>
    
                </details>

                <details>

                    <summary>Browser Extensions and Desktop Tools</summary>

                    <p>A selection of plugins and desktop applications designed to support accessibility testing and help identify potential issues across different environments.</p>

                    <h3>Axe Extension</h3>

                    <ul>
                        <li><a href="https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US" target="_blank">Chrome {{ newWindow }}</a></li>
                        <li><a href="https://addons.mozilla.org/en-US/firefox/addon/axe-devtools/" target="_blank">FireFox {{ newWindow }}</a></li>
                        <li><a href="https://microsoftedge.microsoft.com/addons/detail/axe-devtools-web-access/kcenlimkmjjkdfcaleembgmldmnnlfkn" target="_blank">Edge {{ newWindow }}</a></li>
                    </ul>

                    <h3>IBM Equal Access Accessibility Extension</h3>

                    <ul>
                        <li><a href="https://chromewebstore.google.com/detail/ibm-equal-access-accessib/lkcagbfjnkomcinoddgooolagloogehp?hl=en-US" target="_blank">Chrome Extension {{ newWindow }}</a></li>
                        <li><a href="https://addons.mozilla.org/en-US/firefox/addon/accessibility-checker/" target="_blank">Firefox Plugin {{ newWindow }}</a></li>
                        <li><a href="https://microsoftedge.microsoft.com/addons/detail/ibm-equal-access-accessib/ompccpejakabkmfepbijnagedbdfldka" target="_blank">Edge Extension {{ newWindow }}</a></li>
                    </ul>

                    <h3>ARC Toolkit Extension</h3>

                    <ul>
                        <li><a href="https://chromewebstore.google.com/detail/arc-toolkit/chdkkkccnlfncngelccgbgfmjebmkmce?hl=en" target="_blank">Chrome {{ newWindow }}</a></li>
                        <li><a href="https://addons.mozilla.org/en-US/firefox/addon/arc-toolkit/" target="_blank">Firefox {{ newWindow }}</a></li>
                    </ul>

                    <h3>Desktop</h3>

                    <ul>
                        <li><a href="https://accessibilityinsights.io/" target="_blank">Accessibility Insights for Windows {{ newWindow }}</a></li>
                        <li><a href="https://www.tpgi.com/aviewer-2013/" target="_blank">Accessibility Viewer (aViewer) {{ newWindow }}</a></li>
                        <li><a href="https://www.tpgi.com/color-contrast-checker/" target="_blank">Colour Contrast Analyser (CCA) {{ newWindow }}</a></li>
                        <li><a href="https://trace.umd.edu/peat/" target="_blank">PEAT (Photosensitive Epilepsy Analysis Tool) {{ newWindow }}</li>
                        <li><a href="https://pac.pdf-accessibility.org/en" target="_blank">PAC (PDF Accessibility Checker) {{ newWindow }}</a></li>
                    </ul>

                    <p><strong>Note:</strong> Animations that fail PEAT should be brought to the attention of your team immediately. Please contact <a href="mailto:{{site.owner-email}}">{{site.owner-name}}</a> for more information.</p>
    
                    <p><strong>Note:</strong> PDF remediation is unlike web remediation and will need to go through a third party. Please contact <a href="mailto:{{site.owner-email}}">{{site.owner-name}}</a> for more information.</p>
    
                </details>

                <details>
    
                    <summary>Screen Readers</summary>
    
                    <p>Accessibility testing is not complete until the work has been engaged with via a screen reader. Listening to your work is just as important as visual inspection.</p>
    
                    <ul>
                        <li>
                        
                            <a href="https://support.freedomscientific.com/Downloads/JAWS" target="_blank">JAWS (Paid, 30 Minute Mode) {{ newWindow }}</a>
    
                            <ul>
                                <li><a href="https://webaim.org/resources/shortcuts/jaws" target="_blank">Keyboard Shortcuts for JAWS {{ newWindow }}</a></li>
                            </ul>
    
                        </li>
                        <li>
                        
                            <a href="https://www.nvaccess.org/download/" target="_blank">NVDA (Free) {{ newWindow }}</a>
    
                            <ul>
                                <li><a href="https://webaim.org/resources/shortcuts/nvda" target="_blank">Keyboard Shortcuts for NVDA {{ newWindow }}</a></li>
                            </ul>
    
                        </li>
                        <li><a href="https://support.apple.com/guide/mac-help/change-voiceover-preferences-accessibility-mh40578/mac" target="_blank">VoiceOver for Mac {{ newWindow }}</a></li>
                        <li><a href="https://support.microsoft.com/en-us/windows/hear-text-read-aloud-with-narrator-040f16c1-4632-b64e-110a-da4a0ac56917" target="_blank">Windows Narrator {{ newWindow }}</a></li>
                    </ul>
    
                </details>
    
                <details>
    
                    <summary>Third-party Testing</summary>
    
                    <p>Automated and manual testing are valuable, but nothing replaces the lived experience of people with disabilities—include them in testing your websites and products. When needed, consider reaching out to one of the following:</p>
    
                    <ul>
                        <li><a href="https://access-works.com/" target="_blank">Access Works {{ newWindow }} </a></li>
                        <li><a href="https://theweco.com/" target="_blank">WeCo Digital Accessibility {{ newWindow }}</a></li>
                    </ul>
    
                </details>
    
                <details>
    
                    <summary>Testing Knowledge Base & Resources</summary>

                    <p>Browse a curated collection of tools, references, and educational materials to deepen your understanding of accessibility testing and best practices.</p>
    
                    <ul>
                        <li><a href="https://a11ysupport.io/" target="_blank">ARIA Support Check {{ newWindow }}</a></li>
                        <li><a href="https://thepaciellogroup.github.io/AT-browser-tests/" target="_blank">HTML Element Test File Index {{ newWindow }}</a></li>
                        <li><a href="https://www.w3.org/WAI/people-use-web/" target="_blank">How People with Disabilities Use the Web (User Stories) {{ newWindow }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG21/quickref/" target="_blank">How to Meet WCAG (Quick Reference) {{ newWindow }}</a></li>
                        <li><a href="https://www.powermapper.com/tests/screen-readers/" target="_blank">PowerMapper - Screen Reader Reliability {{ newWindow }}</a></li>
                        <li><a href="https://www.w3.org/TR/using-aria/" target="_blank">Using ARIA {{ newWindow }}</a></li>
                        <li><a href="https://www.w3.org/TR/wai-aria-practices/" target="_blank">WAI-ARIA Authoring Practices {{ newWindow }}</a></li>
                        <li><a href="https://www.w3.org/WAI/" target="_blank">Web Accessibility Initiative (WAI) {{ newWindow }}</a></li>
                        <li><a href="https://www.w3.org/WAI/policies/" target="_blank">Web Accessibility Laws & Policies {{ newWindow }}</a></li>
                        <li><a href="https://www.w3.org/TR/WCAG22/" target="_blank">Web Content Accessibility Guidelines (WCAG) 2.2 {{ newWindow }}</a></li>
                    </ul>
    
                </details>


            </div>

            <!-- h2 class="accordion__heading"><button id="ai-tools" class="accordion__toggle"><span>AI Tools (Experimental) <img alt="" src="{{ site.url }}{{ site.baseurl }}/pulse/img/btn-ai.png"></span></button></h2>
        
            <div class="accordion__panel">

                <ul>
                    <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/ai-images.js">Generate Alternative Text <img alt="" src="{{ site.url }}{{ site.baseurl }}/pulse/img/btn-ai.png"></button>
                </ul>

            </div -->

            <h2>Baseline Guidance</h2>

            {% include baselines.html %}

        </div>

        <!-- TODO: include 2.5.3 Label in Name -->

        <footer>

            <ul>
            <li><a href="{{ site.url }}{{ site.baseurl }}" target="_blank">Accessibility at Radancy {{ newWindow }}</a></li>
            <li><a href="{{ site.url }}{{ site.baseurl }}/pulse/about/" target="_blank">About A11y Pulse {{ newWindow }}</a></li>
            <li><a href="https://jira.tmp.com/browse/TCDQ-60657" target="_blank">Report Issue {{ newWindow }}</a></li>
            </ul>
        
            <p><small>&copy; {{ "now" | date: "%Y" }} Radancy. An equal opportunity employer.</small></p>
        
        </footer>

    </div>

</dialog>

<script>document.querySelector(".a11y-pulse").removeAttribute("open");</script>
    