---
title: "Hiring Events: JIRA Management"
---

<h2>Create Issues</h2>

<ul>
    <li><a href="create-issues-raw.json">JSON</a></li>
    <li><a href="create-issues-template.json">Template</a></li>
</ul>

<details>

    <summary>Output</summary>

    {% highlight json %}{% include_relative create-issues-template.json %}{% endhighlight %}

</details>
  
<h2>Add Watchers</h2>

<ul>
    <li><a href="add-watchers-raw.json" download="add-watchers.json">JSON</a></li>
    <li><a href="add-watchers-template.json">Template</a></li>
</ul>

<details>

    <summary>Output</summary>

    {% highlight json %}{% include_relative add-watchers-template.json %}{% endhighlight %}
    
</details>



