---
accordion: true
title: "Accessibility Testing Baselines"
---

{% include pulse-variables.html %}

<p>The following subset of WCAG 2.2 Success Criteria make up the baseline of accessibility guidelines Radancy <em>strives</em> to meet in our products and websites. These guidelines are representative of the <em>most common</em> accessibility barriers and issues we encounter on a day to day basis and so, believing accessibility to be critical, we make a good faith effort to always be on the lookout for them in our work. However, there are no guarantees we are meeting any level of conformance without full accessibility testing being performed. This kind of testing is by request only. If there is a need to fully support WCAG, please bring this to the attention of your account representative as soon as possible.</p>

<p>Please note that these baselines are subject to change as guidelines and our understanding of accessibility continue to evolve.</p>

<div class="accordion">

    {% include baselines.html %}

</div>

{% include a11y-overlays.html %}

{% include bio-spell.html %}