
<h2 class="accordion__heading"><button id="non-text-content-images" class="accordion__toggle"><span>1.1.1: Non-text Content (Alternative Text, Level A)</span></button></h2>

<div class="accordion__panel">

  <p>Provide text alternatives for non-text content, such as images. <a href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-content" target="_blank">Understanding 1.1.1 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Designer, Copywriter, Content Producers, Developer</p>

  <h2>Images</h2>

  <details>

    <summary>Understanding Image Types</summary>

    <p>Generally, images fall into one of several categories. It is very important to understand the difference between these image types in order to make a more informed decision on whether to include an alternative text value or not and what kind of value you may need to add.</p>

    <ul>
      <li><strong>Decorative:</strong> Images that add accent or embellish. If content on the page can be experienced and understood without these images, then an alternative text value is not required.</li>
      <li><strong>Functional:</strong> Images that indicate action to be taken, rather than a description of the image. Functional images are found within interactive elements, such as hyperlinks or buttons.</li>
      <li><strong>Informative:</strong> Images that provide value to the surrounding content. If content on the page can't be experienced or understood without these images, or content is locked within image, then an alternative text value is required.</li>
      <li><strong>Images of Text:</strong> Images that contain text. The alternative text used within this image type should often be verbatim.</li>
      <li><strong>Complex Images:</strong> Images such as graphs or diagrams. These image often contain detailed information, so alternative text is not adequate here. This content should be conveyed through alternative text equivalents.</li>
      <li><strong>Groups of Images:</strong> Multiple images that convey a single piece of information. In this case, the text alternative for one image should convey the information for the entire group.</li>
      <li><strong>Image Maps:</strong> While used rarely, the text alternative for an image that contains multiple clickable areas should provide an overall context for the set of links. Also, each individually clickable area should have alternative text that describes the purpose or destination of the link.</li>
    </ul>

  </details>

  <details>

    <summary>The Rules</summary>

    <ol>
      <li>All inline image elements require an alt attribute. For example: <code>&lt;img alt="" src="..."&gt;</code>. An image with an alt attribute that has no value, is known as a "null alt". Images with a null alt are ignored by assistive technology.</li>
      <li>If image is informative or contextually important to surrounding content, then it must include an alternative text value. Some things to ask yourself about images:

        <ul>
          <li>Are they meant as labels?</li>
          <li>Do they supplement or enhance surrounding content?</li>
          <li>Are they meant to convey an impression or emotion?</li>
        </ul>

      </li>
      <li>If image contains complex information, then alternative methods of conveying this information will be required as alternative text may not suffice. For example, a graph or chart may require the information be marked-up in HTML and linked to, etc.</li>
      <li>If image contains text, then it must include an alternative text value if same information not conveyed nearby. Typically verbatim, to match what is embedded in the image.</li>
      <li>If image is purely decorative, then it requires no alternative text value. While an <code>img</code> element that is decorative must contain a null alt, a decorative <code>SVG</code> element will require <code>aria-hidden="true"</code>. For example: <code>&lt;svg aria-hidden="true" ... &gt;&lt;/svg&gt;</code></li>
      <li>If image is functional and contained within an interactive element (e.g., a hyperlink or button), then it must contain alternative text if no other functional text present within. For example: <code>&lt;a href="..."&gt;&lt;img alt="My Awesome Vacation (Video)" src="..."&gt;&lt;/a&gt;</code></li>
      <li>Avoid superfluous phrases like "Image of ..." or "Picture of ..." as these are redundant to assistive technology (AT) users. If your image is a screenshot, then you may say this in your description.</li>
      <li>Unless relevant to the image, avoid cute or clever jokes in your alternative text.</li>
      <li>Background images are important if picture within is informative. The first rule of ARIA is to always use HTML, so an <code>&lt;img&gt;</code> element should be used, but in a pinch, the following may be acceptable: <code>&lt;div aria-label="..." role="img"&gt;&lt;/div&gt;</code></li>
    </ol>

    <div class="a11y-info">

      <h3>Accessibility Tip</h3>

      <p>Alternative text should be written in a descriptive, yet succinct manner. Think of how you might describe an image to a friend who is blind. For example:</p>

      <figure>

        <img alt="" height="289" loading="lazy" src="{{ site.url }}{{ site.baseurl }}/pulse/component/img/example-alt.jpg" width="504">

        <figcaption>A little boy sitting on his mother's lap. Both are smiling and wearing American paraphernalia.</figcaption>

      </figure>

      <p><strong>Note:</strong> Unless it is relevant to the image, intentionally including keywords in alternative text descriptions, for the sole benefit of SEO (Search Engine Optimization), is strongly discouraged. <em>Websites are for people; not machines.</em></p>

    </div>

  </details>

  <div class="qa-info">

    <h3>Testing</h3>

    <p>Review images and ensure that the aforementioned rules are met.

    {% if page.id == "a11y-smoke-test" %}

    You can run the following tests to review page images in more depth:</p>

    <ul>
      <li>{% include_relative /script/validation-image-internal.html %}</li>
      <li>{% include_relative /script/validation-image-external.html %}</li>
    </ul>

    {% endif %}

  </div>

  <div class="resource-info">

    <h3>Resources</h3>

    <ul>
      <li><a href="https://www.w3.org/WAI/tutorials/images/decision-tree/" target="_blank">An Alt Decision Tree {{ newWindow }}</a></li>
      <li><a href="https://webaim.org/techniques/alttext/" target="_blank">WebAim: Alternative Text Guide {{ newWindow }}</a></li>
      <li><a href="https://www.levelaccess.com/resources/quick-tips-writing-meaningful-alt-text-webinar-qa-resources/" target="_blank">Quick Tips for Writing Meaningful Alt Text Webinar {{ newWindow }}</a></li>
      <li><a href="https://jakearchibald.com/2021/great-alt-text/" target="_blank">Writing great alt text: Emotion matters {{ newWindow }}</a></li>
      <li><a href="https://ux.shopify.com/the-case-for-describing-race-in-alternative-text-attributes-a093380634f2" target="_blank">The Case for Describing Race in Alternative Text Attributes {{ newWindow }}</a></li>
      <li><a href="https://www.smashingmagazine.com/2021/06/img-alt-attribute-alternate-description-decorative/" target="_blank">Your Image Is Probably Not Decorative {{ newWindow }}</a></li>
      <li><a href="https://www.w3.org/WAI/tutorials/images/" target="_blank">Image Concepts {{ newWindow }}</a></li>
      <li><a href="https://www.scottohara.me/blog/2019/05/22/contextual-images-svgs-and-a11y.html" target="_blank">Contextually Marking Up Accessible Images and SVGs {{ newWindow }}</a></li>
    </ul>

  </div>

</div>

<h2 class="accordion__heading"><button id="non-text-content-components-multimedia" class="accordion__toggle"><span>1.1.1: Non-text Content (Components and Multimedia, Level A)</span></button></h2>

<div class="accordion__panel">

  <p>Provide text alternatives for non-text content, such as multimedia (audio, images, video) and interactive components (buttons, controls, inputs). <a href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-content" target="_blank">Understanding 1.1.1 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Developer, Designer</p>

  <h2>Components and Multimedia</h2>

  <details>

    <summary>The Rules</summary>

    <ol>
      <li>Ensure that interactive components (e.g., buttons, controls, inputs), have an accessible name. Interactive elements that are not visually labeled, must still include an accessible name.</li>
      <li>If text is not explicit in the design of a component, then use various methods to provide this information. Accessible names can be applied in various ways, such as with, labels, inclusively hidden techniques, and with ARIA.</li>
      <li>Ensure that multimedia is identified via accessible text. For example: <code>&lt;video src="..." controls aria-label="My Summer Vacation"&gt;...&lt;/video&gt;</code></li>
      <li>Ensure that inline frames (iframe) are appropriately titled and describe contents of the frame accurately. For example: <code>&lt;iframe src="..." title="Job Application Form"&gt;...&lt;/iframe&gt;</code>.</li>
    </ol>

  </details>

  <div class="qa-info">

    <h3>Testing</h3>

    <p>Review page components and ensure that the aforementioned rules are met. Here are some important things to be on the lookout for during review:</p>

    <ul>
      <li>Are <code>label</code> elements associated with specific form controls? Is the <code>label</code> element being hidden with <code>display: none</code>? {% if page.id == "a11y-smoke-test" %}{% include_relative /script/validation-form.html %}{% endif %}</li>
      <li>Are placeholder attributes being used to stand-in for labels? Inappropriate use of placeholders <a href="https://www.deque.com/blog/accessible-forms-the-problem-with-placeholders/" target="_blank">can have a negative impact {{ newWindow }}</a> on the user experience.</li>
      <li>Are <code>iframe</code> and multimedia elements, like <code>audio</code> and <code>video</code> properly labeled? {% if page.id == "a11y-smoke-test" %}{% include_relative /script/validation-iframe.html %}, {% include_relative /script/validation-title-attribute.html %}{% endif %}</li>
      <li>Is ARIA being used to provide an accessible name for user interface controls? {% if page.id == "a11y-smoke-test" %}{% include_relative /script/validation-aria.html %}{% endif %}</li>
    </ul>

  </div>

  <div class="resource-info">

    <h3>Resources</h3>

    <ul>
      <li><a href="https://www.deque.com/blog/accessible-forms-the-problem-with-placeholders/" target="_blank">The Anatomy of Accessible Forms: The Problem with Placeholders {{ newWindow }}</a></li>
      <li><a href="https://www.nngroup.com/articles/form-design-placeholders/" target="_blank">Placeholders in Form Fields Are Harmful {{ newWindow }}</a></li>
    </ul>

  </div>

</div>

<h2 class="accordion__heading"><button id="captions-pre-recorded" class="accordion__toggle"><span>1.2.2: Captions (Prerecorded) (Level A)</span></button></h2>

<div class="accordion__panel">

  <p>Provide captions for videos with audio	<a href="https://www.w3.org/WAI/WCAG22/Understanding/captions-prerecorded" target="_blank">Understanding 1.2.2 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Developer, Content Producers, Digital Project Manager</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <ul>
      <li>Video on a page should be manually reviewed. If the video includes spoken dialogue or important information, then it must contain captions <!-- and/or an audio description -->.</li>
      <li>Caption accuracy is also critical. If a video is found to have inaccurate captions, new captions must be produced. See <a href="{{ site.git-url }}/a11y/caption/" target="_blank">Creating Accessible Multimedia {{ newWindow }}</a>.</li>
      <li>Some advanced issues to be on the lookout for include:

        <ul>
          <li>Caption synchronization. Viewers can tell when captions are out of sync without sound.</li>
          <li>Caption length. This makes a difference in preventing cognitive overload.</li>
          <li>Caption position. Bottom except for temporary movement to the top for on-screen text like credits.</li>
          <li>Sound.</li>
          <li>Credits. Viewers want to see both captions and credits or whatever is on-screen.</li>
          <li>Voice changes.</li>
          <li>Speaker identification</li>
          <li>Flow / movement</li>
        </ul>

      </li>
    </ul>

    <p><strong>Note:</strong> While not a failure here, providing transcripts with video and audio content is becoming a necessity and <strong>strongly</strong> encouraged. Including them would pass <a href="https://www.w3.org/WAI/WCAG22/Understanding/audio-only-and-video-only-prerecorded">1.2.1 Prerecorded Audio-only and Video-only</a>, which is not currently included in our baselines, but will be eventually.</p>

  </div>

  <div class="resource-info">

    <h3>Resources</h3>

    <ul>
      <li><a href="https://meryl.net/captioned-videos-complete-guide/" target="_blank">The Complete Guide to Captioned Videos by Meryl Evans {{ newWindow }}</a></li>
      <li><a href="https://www.w3.org/WAI/media/av/" target="_blank">Making Audio and Video Media Accessible {{ newWindow }}</a></li>
      <li><a href="https://www.3playmedia.com/blog/add-audio-description-videos/" target="_blank">How to Add Audio Description by Jaclyn Leduc {{ newWindow }}</a></li>
    </ul>

  </div>

</div>

<h2 class="accordion__heading"><button id="info-and-relationships" class="accordion__toggle"><span>1.3.1: Info and Relationships (Level A)</span></button></h2>

<div class="accordion__panel">

  <p>Semantic markup is used appropriately. Logical structure, etc.	<a href="https://www.w3.org/WAI/WCAG22/Understanding/info-and-relationships" target="_blank">Understanding 1.3.1 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Developer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <p>HTML should be structured and labeled accordingly, so that the page makes visual <em>and structural</em> sense to everybody. Here are some important things to be on the lookout for during review:</p>

    <ul>
      <li>Is semantic markup being used to convey proper structure and meaning to assistive technology users? {% if page.id == "a11y-smoke-test" %}<a class="validate-html" href=https://validator.w3.org/ target="_blank">Validate Markup {{ newWindow }}</a>{% endif %}</li>
      <li>Are headings (<code>h1</code>-<code>h6</code>) being used properly to identify content hierarchy? Are any empty headings present? {% if page.id == "a11y-smoke-test" %}<a class="validate-heading" href="heading.html" target="_blank">Validate Headings {{ newWindow }}</a>{% endif %}</li>
      <li>Are lists being marked up and implemented correctly? {% if page.id == "a11y-smoke-test" %}<button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/lists.js">View Lists</button>{% endif %}</li>
      <li>Are <code>label</code> elements associated with specific form controls? Is the <code>label</code> element being hidden with <code>display: none</code>? {% if page.id == "a11y-smoke-test" %}<button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/forms.js">View Forms</button>{% endif %}</li>
      <li>Are <code>iframe</code> and multimedia elements, like <code>audio</code> and <code>video</code> properly labeled? {% if page.id == "a11y-smoke-test" %}<button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/iframes.js">View Iframes</button>, <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/title.js">View Title Attributes</button>{% endif %}</li>
      <li>Is <code>table</code> markup being used to implement tabular data only? {% if page.id == "a11y-smoke-test" %}<button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/tables.js">View Tables</button>{% endif %}</li>
      <li>Does the page identify its language properly via the <code>lang</code>? Are shifts to other languages present within the page? {% if page.id == "a11y-smoke-test" %}<button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/lang.js">View Language</button>{% endif %}</li>
      <li>Is ARIA being used to properly identify landmarks and regions of a page? {% if page.id == "a11y-smoke-test" %}<button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/aria.js">View ARIA</button>{% endif %}</li>
      <li>Is ARIA being used to provide an accessible name for user interface controls? {% if page.id == "a11y-smoke-test" %}<button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/aria.js">View ARIA</button>{% endif %}</li>
    </ul>

  </div>

  <div class="resource-info">

    <h3>Resources</h3>

    <ul>
      <li><a href="https://www.a11yproject.com/posts/how-to-accessible-heading-structure/" target="_blank">Accessible heading structure {{ newWindow }}</a></li>
    </ul>

  </div>

</div>

<h2 class="accordion__heading"><button id="use-of-color" class="accordion__toggle"><span>1.4.1: Use of Color (Level A)</span></button></h2>

<div class="accordion__panel">

  <p>Don't use presentation that relies solely on color. <a href="https://www.w3.org/WAI/WCAG22/Understanding/use-of-color" target="_blank">Understanding 1.4.1 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Designer, Developer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <ul>
      <li>Manually ensure that color is not used as the sole method of conveying content or distinguishing visual elements. For example, saying "Please correct all text highlighted in red", would be a failure.</li>
      <li>For better usability, links should be <strong>underlined by default</strong>. Otherwise, link text must:

        <ol>
          <li>Have a 3:1 contrast ratio with surrounding body text, and must present a visual indicator (typically an underline) when hovering over or receiving focus.</li>
          <li>Both link and body text must have a 4.5:1 contrast ratio with the background (3:1 for large text).</li>
          <li>Links in the header and footer are typically understood to be a link, so the above rules may not apply.</li>
        </ol>

        {% if page.id == "a11y-smoke-test" %}

        <button data-script="contrast" data-fragment="link-contrast">Validate Link & Text Contrast</button>

        {% endif %}

      </li>
    </ul>

    {% if page.id == "a11y-smoke-test" %}

    <p>In addition to testing specific color contrast ratios, pages should always be reviewed under various color-blindness or low vision simulations. Any concerns should be flagged with DPM (Digital Project Manager) and added to your report.</p>

    {% include color-blindness.html %}

    {% endif %}

  </div>

  <div class="resource-info">

    <h3>Resources</h3>

    <ul>
      <li><a href="https://www.tpgi.com/well-color-us-surprised-this-sc-can-be-a-tricky-customer/" target="_blank">Well Color Us Surprised—This SC Can Be a Tricky Customer {{ newWindow }}</a></li>
    </ul>

  </div>

</div>

<h2 class="accordion__heading"><button id="contrast-minimum" class="accordion__toggle"><span>1.4.3: Contrast (Minimum) (Level AA)</span></button></h2>

<div class="accordion__panel">

  <p>Contrast ratio between text and background is at least <strong>4.5:1</strong>. <a href="https://www.w3.org/WAI/WCAG22/Understanding/contrast-minimum" target="_blank">Understanding 1.4.3 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Designer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <p>Review page and test any <strong>text</strong> or <strong>images of text</strong> that you suspect may fail this guideline. Running the WAVE validator may also be helpful.</p>

    {% if page.id == "a11y-smoke-test" %}

    <ul>
      <li><button data-script="contrast" data-fragment="color-contrast">Validate Color Contrast</button></li>
      <li><a class="validate-a11y" href="https://wave.webaim.org/" target="_blank">WAVE Validation {{ newWindow }}</a></li>
    </ul>

    {% endif %}

    <p>This rule does not apply to the following:</p>

    <ul>
      <li><strong>Large Text:</strong> Large text and images of large text have a contrast ratio of at least 3:1. <strong>Note:</strong> In WCAG, points are often referred to as the unit of measure in determining the size between regular and large text. However, pixels are much more common on the web. 18pt maps to 24px and 14pt to approximately 18.67px. In CSS, bold text typically has <code>font-weight: bold</code>, or <code>font-weight: 700</code> or greater.</li>
      <li><strong>Incidental:</strong> Text or images of text that are part of an inactive user interface component (i.e., disabled button), that are pure decoration, that are not visible to anyone, or that are part of a picture that contains significant other visual content, have no contrast requirement.</li>
      <li><strong>Logotypes:</strong> Text that is part of a logo or brand name has no contrast requirement.</li>
    </ul>

    {% if page.id == "a11y-smoke-test" %}

    <p>In addition to testing specific color contrast ratios, pages should always be reviewed under various color-blindness or low vision simulations. Any concerns should be flagged with DPM and added to your report.</p>

    {% include color-blindness.html %}

    {% endif %}

  </div>

</div>

<h2 class="accordion__heading"><button id="resize-text" class="accordion__toggle"><span>1.4.4: Resize Text (Level AA)</span></button></h2>

<div class="accordion__panel">

  <p>Text can be resized to 200% without loss of content or functionality.	<a href="https://www.w3.org/WAI/WCAG22/Understanding/resize-text" target="_blank">Understanding 1.4.4 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Developer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <ul>
      <li>Use your browser settings to increase text size from 16 (100%) to 32 (200%). When 200% is reached, test to see if all page content can still be accessed and that site continues to be fully operable and usable.</li>
      <li>Captions and images of text are exempt from this rule.</li>
    </ul>

  </div>

</div>

<h2 class="accordion__heading"><button id="reflow" class="accordion__toggle"><span>1.4.10: Reflow (Level AA)</span></button></h2>

<div class="accordion__panel">

  <p>Content can be resized without loss of functionality and no horizontal scrollbar (See exceptions).	<a href="https://www.w3.org/WAI/WCAG22/Understanding/reflow.html" target="_blank">Understanding 1.4.10 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Developer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <ul>
      <li>Resize browser to 1280 x 1024 and then use <kbd>Control</kbd> (PC) or <kbd>Command</kbd> (Mac) and <kbd>+</kbd> keys to increase zoom level of browser viewport. When 400% is reached, test to see if all page features can be used at this size and that the user does not need to horizontally scroll.</li>
      <li>There are exceptions for content that requires horizontal and vertical scrolling to be understood. For example, tables, maps, or some charts, if they cannot be made responsive.</li>
      <li>Page zoom should never be intentionally disabled. If the page cannot be zoomed in on at all, it is failure.</li>
    </ul>

  </div>

</div>

<h2 class="accordion__heading"><button id="non-text-contrast" class="accordion__toggle"><span>1.4.11: Non-text Contrast (Level AA)</span></button></h2>

<div class="accordion__panel">

  <p>Ensure <em>important</em> visual components, such as images, icons, and buttons, have a contrast ratio of at least <strong>3:1</strong>. <a href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-contrast" target="_blank">Understanding 1.4.11 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Designer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <p>Ensure that the visual presentation of the following have a contrast ratio of at least <strong>3:1</strong> against adjacent color(s):</p>

    <ul>
      <li><strong>User Interface (UI) Components:</strong> Visual information required to identify user interface components and states, except for inactive components or where the appearance of the component is determined by the browser.</li>
      <li><strong>Graphical Objects:</strong> Parts of graphics required to understand the content, except when a particular presentation of graphics is essential to the information being conveyed.</li>
    </ul>

    <p>Review page and test any UI components or images that you suspect may fail this guideline. Running the WAVE validator may also be helpful.</p>

    {% if page.id == "a11y-smoke-test" %}

    <ul>
      <li><button data-script="contrast" data-fragment="color-contrast">Validate Color Contrast</button></li>
      <li><a class="validate-a11y" href="https://wave.webaim.org/" target="_blank">WAVE Validation {{ newWindow }}</a></li>
    </ul>

    <p>In addition to testing specific color contrast ratios, pages should always be reviewed under various color-blindness or low vision simulations. Any concerns should be flagged with DPM and added to your report.</p>

    {% include color-blindness.html %}

    {% endif %}

  </div>

</div>

<h2 class="accordion__heading"><button id="keyboard" class="accordion__toggle"><span>2.1.1: Keyboard (Level A)</span></button></h2>

<div class="accordion__panel">

  <p>Accessible by keyboard only.	<a href="https://www.w3.org/WAI/WCAG22/Understanding/keyboard" target="_blank">Understanding 2.1.1 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Developer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <ul>
      <li>Using your <kbd>Tab</kbd> key, navigate through the page and engage with interactive components. Anything that can be used with a pointing device, such as a mouse, must be equally usable via keyboard.</li>
      <li>Anything that receives focus must have an accessible name.</li>
      <li>Ensure that interactive components on the page work when accessed with <kbd>Enter</kbd> key. Buttons will be expected to work with both the <kbd>Enter</kbd> and <kbd>Spacebar</kbd> keys.</li>
      <li>See where focus is brought when certain components are engaged with. For example, what happens when a button is accessed and a modal is shown? Will continuing to tab take you behind the modal, or keep you within the modal itself?</li>
      <li>Does keyboard focus become trapped within any portion of the interface while tabbing? While this is acceptable behavior in modal dialogs, in other scenarios it could be an indication of a keyboard trap.</li>
      <li>Non-interactive elements, such as a <code>div</code>, should not receive keyboard focus while tabbing.</li>
    </ul>

    {% if page.id == "a11y-smoke-test" %}

    <p><strong>Note:</strong> If focus outlines have been suppressed (which is also a failure), you can <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/focus.js">force focus</button> on the page to see where you are navigating.</p>

    {% endif %}

  </div>

  <div class="a11y-info">

    <h3>Accessibility Tip</h3>

    <p><em>Buttons do things; hyperlinks take us places.</em></p>

    <p>The difference between using a hyperlink and a button can have a very big impact on accessibility. By using the correct element for the job, we can set the right expectation for AT users and make our code much easier to write. Be sure to read <a href="https://michaelspellacy.com/pushing-buttons/" target="_blank">Pushing Buttons {{ newWindow }}</a> for more details on why this distinction is important.</p>

  </div>

</div>

<h2 class="accordion__heading"><button id="pause-stop-hide" class="accordion__toggle"><span>2.2.2: Pause, Stop, Hide (Level A)</span></button></h2>

<div class="accordion__panel">

  <p>Provide user controls for moving content. <a href="https://www.w3.org/WAI/WCAG22/Understanding/pause-stop-hide" target="_blank">Understanding 2.2.2 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Designer, Developer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <ul>
      <li>Manually check to see if the page contains automatically moving content, such as a carousel or video. If such features have no mechanism to pause them, then this is a failure.</li>
    </ul>

  </div>

  <div class="a11y-info">

    <h3>Accessibility Tip</h3>

    <p>Unless there is continuous movement, subtle web (a.k.a micro) animations are typically exempt from this rule, but it is strongly recommended that development leverage <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion" target="_blank">prefers-reduced-motion {{ newWindow }}</a> in their work to avoid creating an unpleasant experience for those who may find animation problematic.</p>

  </div>

</div>

<h2 class="accordion__heading"><button id="three-flashes-or-below" class="accordion__toggle"><span>2.3.1: Three Flashes or Below Threshold (Level A)</span></button></h2>

<div class="accordion__panel">

  <p>No content flashes more than three times per second.	<a href="https://www.w3.org/WAI/WCAG22/Understanding/three-flashes-or-below-threshold" target="_blank">Understanding 2.3.1 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Everybody</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <ul>
      <li>A high rate of flashing can cause potential harm, or even death, in individuals with epilepsy. If you suspect that any feature on a page is harmful, you can download and install <a href="https://trace.umd.edu/peat/" target="_blank">PEAT (Photosensitive Epilepsy Analysis Tool) {{ newWindow }}</a> to see if there is any risk or reach out to the <a href="mailto:a11y@radancy.com">Accessibility Team</a> to perform this test for you.</li>
    </ul>

    <p><strong>Important:</strong> Any suspect animation or failures should be immediately brought to the attention of <a href="mailto:{{ site.owner-email }}">{{ site.owner-name }}</a>.</p>

  </div>

</div>

<h2 class="accordion__heading"><button id="bypass-blocks" class="accordion__toggle"><span>2.4.1: Bypass Blocks (Level A)</span></button></h2>

<div class="accordion__panel">

  <p>Provide a "Skip to Content" link. <a href="https://www.w3.org/WAI/WCAG22/Understanding/bypass-blocks" target="_blank">Understanding 2.4.1 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Developer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <ul>
      <li>Areas of a web page that may be cumbersome to navigate through via keyboard or assistive technology, must provide a mechanism to skip over that content. These "Skip" links should be available to <em>all</em> users when needed and not obscure other content on the page when visible. You will often find these links placed before a websites primary navigation, but they can be useful elsewhere. If it takes you a long time to tab through a certain portion of the interface, then this may be a good indication that a skip link is necessary.</li>
    </ul>

    <figure>

      <img alt="Screen grab of a website, with a 'Skip to Main Content' hyperlink." height="104" loading="lazy" src="{{ site.url }}{{ site.baseurl }}/pulse/component/img/example-skip-link.jpg" width="506">

      <figcaption>An example of a "Skip" link. These links, when present, will display when keyboard testing is performed. If it perfectly normal for the mechanism to be present for all user types.</figcaption>

    </figure>

  </div>

</div>

<h2 class="accordion__heading"><button id="page-titled" class="accordion__toggle"><span>2.4.2: Page Titled (Level A)</span></button></h2>

<div class="accordion__panel">

  <p>Use helpful and clear page titles.	<a href="https://www.w3.org/WAI/WCAG22/Understanding/page-titled" target="_blank">Understanding 2.4.2 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> SEO, Copywriter, Content Creators</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <p>Ensure that all pages have a title and that it is useful and adequately describes the page at hand. Pages that are dynamic in nature, such as those found when utilizing React or similar frameworks, will need their <code>title</code> element continuously updated.</p>

    {% if page.id == "a11y-smoke-test" %}

    <ul>
      <li><button data-script="{{ site.git-url }}/a11y-smoke-test/local/page-title.js">Show Page Title</button> (Alert dialog will appear.)</li>
    </ul>

    {% endif %}

  </div>

</div>

<h2 class="accordion__heading"><button id="focus-order" class="accordion__toggle"><span>2.4.3: Focus Order (Level A)</span></button></h2>

<div class="accordion__panel">

  <p>The navigation order of links, form elements, etc. is logical and intuitive.	<a href="https://www.w3.org/WAI/WCAG22/Understanding/focus-order" target="_blank">Understanding 2.4.3 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Developer, Designer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <ul>
      <li>Navigate through the page using the <kbd>Tab</kbd> key on your keyboard, while being mindful of the focus order. Tab stops that are not in a fairly logical visual order should be considered a failure.

        {% if page.id == "a11y-smoke-test" %}

        You can view the focus order with the following tool:

        <ul>
          <li><button data-script="https://mraccess77.github.io/favlets/focusOrder.js">View Focus Order</button></li>
        </ul>

        {% endif %}

      </li>
      <li>An interactive element with a tabindex other than 0 will interfere with a pages natural tab order and should be considered a failure. A tabindex with -1 will not interfere with tabbing.

        {% if page.id == "a11y-smoke-test" %}

        You can view tabindexs with the following tool:

        <ul>
          <li><button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/tabindex.js">View Tabindexs</button></li>
        </ul>

        {% endif %}

      </li>
    </ul>

    {% if page.id == "a11y-smoke-test" %}

    <p><strong>Note:</strong> If focus outlines have been suppressed (which is also a failure), you can <button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/focus.js">force focus</button> on the page to see where you are navigating.</p>

    {% endif %}

  </div>

</div>

<h2 class="accordion__heading"><button id="focus-visible" class="accordion__toggle"><span>2.4.7: Focus Visible (Level AA)</span></button></h2>

<div class="accordion__panel">

  <p>Ensure keyboard focus is visible and clear. Default focus outlines are a browser <em>feature</em> meant to aid those with low vision, and should <em>never</em> be removed without an adequate replacement. If default focus outlines are undesirable, they may be redesigned or an alternative focus state can be used. However, any redesigned outline or alternative focus state must then meet a <strong>3:1</strong> contrast ratio. <a href="https://www.w3.org/WAI/WCAG22/Understanding/focus-visible" target="_blank">Understanding 2.4.7 {{ newWindow }}</a></p>

  <p><b>Who is responsible?</b> Developer, Designer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    <ul>
      <li>Using your <kbd>Tab</kbd> key, navigate through the page and review all focus states of interactive elements. If focus state is missing or an alternative and adequate focus state is not provided, then this is a failure.</li>
      <li>Again, any redesigned focus state must meet a <strong>3:1</strong> contrast ratio.

        {% if page.id == "a11y-smoke-test" %}

        You can run <button data-script="contrast" data-fragment="color-contrast">Validate Color Contrast</button> to test your foreground and background color of the alternative outline or state.

        {% endif %}

      </li>
      <li>Non-interactive elements should not contain a focus state. The only exception to this rule is if the non-interactive element is accepting temporary focus via <code>tabindex="-1"</code>.</li>
    </ul>

  </div>

</div>

<h2 class="accordion__heading"><button id="name-role-value" class="accordion__toggle"><span>4.1.2: Name, Role, Value (Level A)</span></button></h2>

<div class="accordion__panel">

  <p>Build all elements for accessibility. <a href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value" target="_blank">Understanding 4.1.2 {{ newWindow }}</a></p>

  <p>Ensure that each element has an accessible name, role, value, state and property which can be properly conveyed to AT users. How an interface is conveyed to AT users is as equally important to how they are conveyed to users who do not rely on assistive technology to access the web. For example, if a screen reader user accesses a disclosure component, how might the fact that it is opened be conveyed to them? Is the correct state of the component, or any state at all, being presented in this scenario? Using semantic HTML along with properly implemented ARIA can assist us in creating an equal and accessible experience for everybody.</p>

  <p><b>Who is responsible?</b> Developer</p>

  <div class="qa-info">

    <h3>Testing</h3>

    {% if page.id == "a11y-smoke-test" %}

    <p>The usual suite of tests can be run to take a deep dive into the code.</p>

    {% else %}

    <p>Be sure to ask yourself some of the following questions:</p>

    {% endif %}

    <ul>
      <li>{% if page.id == "a11y-smoke-test" %}<button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/aria.js">ARIA</button> - {% endif %}Is ARIA being implemented on the page? Is it used correctly? Do accessible names, roles, values, states and properties make sense? Can HTML be used instead of a custom control?</li>
      <li>{% if page.id == "a11y-smoke-test" %}<button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/forms.js">Forms</button> - {% endif %}Is form markup correct? Is labeling present and correctly associated with its input field?</li>
      <li>{% if page.id == "a11y-smoke-test" %}<button data-script="{{ site.url }}{{ site.baseurl }}/pulse/script/component/iframes.js">Iframes</button> - {% endif %}Do <code>iframe</code>'s have an accessible name? Does that name describe the contents of the <code>iframe</code> adequately?</li>
    </ul>

    <h3>Validation</h3>

    {% if page.id == "a11y-smoke-test" %}

    <ul>
      <li><a class="validate-html" href="https://validator.w3.org/" target="_blank">W3C Validation {{ newWindow }}</a>

        <details>

          <summary>Advanced (Dev Only)</summary>

          <ul>
            <li><button class="new-window" data-script="{{ site.git-url }}/a11y-smoke-test/local/dom-validate.js">W3C Validation (Serialized DOM) ~~~</button></li>
            <li><button data-script="{{ site.git-url }}/a11y-smoke-test/local/wcag-parsing.js">WCAG Parsing</button></li>
          </ul>

        </details>

      </li>
    </ul>

    {% else %}

    <p>Be sure to validate your work.</p>

    {% endif %}

  </div>

</div>

<h2 class="accordion__heading"><button id="best-practices" class="accordion__toggle"><span>Best Practices & Reminders</button></h2>

<div class="accordion__panel">

  <p>Some of the following issues may not specifically fall under WCAG, but are considered industry-wide best practice and strongly suggested.</p>

  <p><b>Who is responsible?</b> Everybody</p>

  <details>

    <summary>Carousels</summary>

    <p>{{ site.company-name }} UI/UX discourages use of carousels whenever possible and instead recommends alternative forms of page layout. While carousels may be useful in certain situations, they can bury important content you may wish for users to access and engage with and are often inaccessible. Approach usage with caution. Check out <a href="https://shouldiuseacarousel.com/">Should I Use A Carousel?</a> for more information.</p>

    <p><strong>Important:</strong> Slick is a popular plugin that many developers use to easily implement a carousel. If a carousel is required, please only use the approved version, <a href="https://accessible360.github.io/accessible-slick/" target="_blank">Accessible Slick {{ newWindow }}</a>, in new implementations.</p>

  </details>

  <details>

    <summary>PDF</summary>

    <ul>
      <li>When possible, a PDF should never be used over HTML. PDF files often have accessibility issues that can only be remediated by a PDF specialist. Should PDF's require accessibility testing and/or remediation, please contact <a href="mailto:{{ site.owner-email }}">{{ site.owner-name }}</a>.</li>
      <li>When linking to a PDF, it is customary to include the file type, visually, within the link itself. For example: <code>&lt;a href="../docs/legal-waiver.pdf"&gt;Legal Waiver (PDF)&lt;/a&gt;</code>. PDF's are common in our footers but can also be found in other areas of our sites, pointing to brochures or other company related information. By including this helper text, we are setting a better expectation for users as to what will happen when the link is accessed.</li>
    </ul>

  </details>

  <details>

    <summary>New Tabs (Windows)</summary>

    <p>Launching new tabs should only occur in the rarest of circumstances and, if required, be approached with care and caution. Here are some points to consider:</p>

    <ul>
      <li><b>Ask Why</b> - One should have an excellent reason to spawn a new tab. Opening new tabs, just to keep users on your site, is <strong>not</strong> a good enough reason.</li>
      <li><b>Trust Users</b> - Let your users decide if opening a new tab is the best course of action.</li>
      <li><b>Accessibility</b> - If a new tab is a necessity, use <code>aria-label</code> or alternative techniques for assistive technology and <em>include visual indicators</em>.</li>
      <li><b>Security & Performance</b> - If a new tab is a necessity, make use of <code>rel="noopener"</code>. This will prevent "tabnabbing" and improve page load between parent and child tabs.</li>
    </ul>

    <p>You can learn more about this best practice by reading <a href="https://michaelspellacy.com/the-last-word-on-opening-new-windows/" target="_blank">The Last Word (Maybe) on Opening New Windows {{ newWindow }}</a>.</p>

  </details>

</div>
