
<nav aria-label="Accessibility" id="main-navigation">

  <ul>
    <li><a href="/a11y/audit" id="nav-a11y-audit">Accessibility Audit Process (Intranet)</a></li>
    <li><a href="/a11y/extension" id="nav-a11y-extension">Accessibility Smoke Test Extension{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
    <li><a href="/a11y/baseline" id="nav-a11y-baseline">Accessibility Testing Baselines</a></li>
    <li><a href="/a11y/guidance/form-labels/" id="nav-a11y-guidance-form-labels">Guidance on Designing & Implementing Form Labels</a></li>
    <li><a href="/a11y/caption" id="nav-a11y-caption">Multimedia Captioning & Transcripts (Intranet)</a></li>
    <li><a href="/pattern-library/" id="nav-pattern-library">Pattern Library</a></li>
    <li><a href="/a11y/testing/boilerplate" id="nav-a11y-testing-boilerplate">Testing Boilerplate (Google Sheet)</a></li>
    <li><a href="/uid/code-standards/" id="nav-uid-code-standards">User Interface Standards and Guidelines</a></li>
  </ul>

</nav>
