
<p>Common accessibility information and tools for employees of Radancy. Please note that some links will redirect.</p>

<ul>
  <li><a href="/a11y/audit">Accessibility Audit Process (Intranet)</a></li>
  <li><a class="external" href="/a11y/extension" target="_blank" rel="noreferrer">Accessibility Smoke Test Extension</a> <span class="alert">New!</span> <span class="sr-only">(Opens in new tab)</span></li>
  <li><a class="external" href="/a11y/baseline" target="_blank" rel="noreferrer">Accessibility Testing Baselines</a></li>
  <li><a href="/a11y/caption">Multimedia Captioning & Transcripts (Intranet) <span class="sr-only">(Opens in new tab)</span></a></li>
  <li><a class="external" href="/a11y/testing/boilerplate" target="_blank" rel="noreferrer">Testing Boilerplate (Google Sheet) <span class="sr-only">(Opens in new tab)</span></a></li>
  <li><a class="external" href="/uid/code-standards/" target="_blank" rel="noreferrer">User Interface Standards and Guidelines <span class="sr-only">(Opens in new tab)</span></a></li>
</ul>

<h2 id="a11y-overlay">Accessibility Overlays</h2>

<p>Use of accessibility overlays are <strong>forbidden</strong> on all Radancy websites. More information on why we need to avoid such solutions, can be found here:</p>

<ul>
  <li><a class="external" href="https://shouldiuseanaccessibilityoverlay.com/" target="_blank" rel="noreferrer">Should I Use An Accessibility Overlay? <span class="sr-only">(Opens in new tab)</span></a></li>
  <li><a class="external" href="https://overlayfactsheet.com/" target="_blank" rel="noreferrer">Overlay Fact Sheet <span class="sr-only">(Opens in new tab)</span></a></li>
</ul>

<h2 id="resources">Resources</h2>

<p>Fantastic resources from across the web!</p>

<ul>
  <li><a class="external" href="https://a11y-tools.com/" target="_blank" rel="noreferrer">A11y Tools <span class="sr-only">(Opens in new tab)</span></a></li>
  <li><a class="external" href="https://a11ysupport.io/" target="_blank" rel="noreferrer">ARIA Support Check <span class="sr-only">(Opens in new tab)</span></a></li>
  <li><a class="external" href="https://www.w3.org/WAI/WCAG21/quickref/" target="_blank" rel="noreferrer">How to Meet WCAG (Quick Reference) <span class="sr-only">(Opens in new tab)</span></a></li>
  <li><a class="external" href="https://www.powermapper.com/tests/screen-readers/" target="_blank" rel="noreferrer">PowerMapper - Screen Reader Reliability <span class="sr-only">(Opens in new tab)</span></a></li>
  <li><a class="external" href="https://www.w3.org/TR/wai-aria-practices/" target="_blank" rel="noreferrer">WAI-ARIA Authoring Practices <span class="sr-only">(Opens in new tab)</span></a></li>
  <li><a class="external" href="https://www.w3.org/WAI/" target="_blank" rel="noreferrer">Web Accessibility Initiative (WAI) <span class="sr-only">(Opens in new tab)</span></a></li>
  <li><a class="external" href="https://www.w3.org/WAI/policies/" target="_blank" rel="noreferrer">Web Accessibility Laws & Policies <span class="sr-only">(Opens in new tab)</span></a></li>
</ul>
