
<p>Common accessibility information and tools for employees of Radancy. Please note that some links will redirect.</p>

<ul>
  <li><a href="/a11y/audit">Accessibility Audit Process (Intranet)</a></li>
  <li><a href="/a11y/extension"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>Accessibility Smoke Test Extension{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="/a11y/baseline"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>Accessibility Testing Baselines</a></li>
  <li><a href="/a11y/caption">Multimedia Captioning & Transcripts (Intranet){% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="/a11y/testing/boilerplate"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>Testing Boilerplate (Google Sheet){% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="/uid/code-standards/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>User Interface Standards and Guidelines{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
</ul>

<h2 id="a11y-overlay">Accessibility Overlays</h2>

<p>Use of accessibility overlays are <strong>forbidden</strong> on all Radancy websites. Sites that include them can still face legal challenges because they do not address inherent accessibility barriers, do not protect one from legal challenges, and reinforce discrimination by lulling site owners into a false sense of security, who do nothing else to improve their digitasl experience. More information on why we need to avoid such solutions, can be found here:</p>

<ul>
  <li><a href="https://shouldiuseanaccessibilityoverlay.com/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>Should I Use An Accessibility Overlay?{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="https://overlayfactsheet.com/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>Overlay Fact Sheet{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
</ul>

<h2 id="resources">Resources</h2>

<p>Fantastic resources from across the web!</p>

<ul>
  <li><a href="https://a11y-tools.com/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>A11y Tools{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="https://a11ysupport.io/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>ARIA Support Check{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="https://www.w3.org/WAI/WCAG21/quickref/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>How to Meet WCAG (Quick Reference){% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="https://www.powermapper.com/tests/screen-readers/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>PowerMapper - Screen Reader Reliability{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="https://www.w3.org/TR/using-aria/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>Using ARIA{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="https://www.w3.org/TR/wai-aria-practices/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>WAI-ARIA Authoring Practices{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="https://www.w3.org/WAI/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>Web Accessibility Initiative (WAI){% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
  <li><a href="https://www.w3.org/WAI/policies/"{% if page.intranet %} class="external" target="_blank" rel="noopener"{% endif %}>Web Accessibility Laws & Policies{% if page.intranet %} <span class="sr-only"> (Opens in new tab)</span>{% endif %}</a></li>
</ul>
