figure {
margin: 1em 0;
}

figcaption {
color: #666;
}

main li {
margin: 0.5em 0;
}

main figure img {
border-radius: 10px;
border: 1px #767676 solid;
width: 86em;
}

main video {
border-radius: 10px;
display: block;
margin: 1em 0;
max-width: 60em;
}

img[src="ico-refresh.png"] {
border-radius: 50%;
display: inline-block;
vertical-align: middle;
}

blockquote {
border: 1px #767676 solid;
border-radius: 10px;
padding: 1em;
}