// Local CSS

main { 

    blockquote {
    border: 1px #767676 solid;
    background-color: #fff;
    margin: 1em 0 1em -2em;
    padding: 1em;
    }

    figure {
    margin: 1em 0 0;

        img {
        background-color: #fff;
        border: 3px #fff solid;
        outline: 1px #767676 solid;
        width: 86em;
        }

    }

    figcaption {
    color: #666;
    }

    img[src="ico-refresh.png"] {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    }

    li {
    margin: 0.5em 0;
    }

    ol {
    margin-inline-start: 0;
    }

    section {
    border: 1px transparent solid;
    overflow-wrap: break-word;
    padding: 0 0 1em;
    scroll-margin-top: 2em;
    
        &:target {
        background-color: #EEE;
        border-color: #767676;
        padding-left: 1em;
        padding-right: 1em;
        transition: background-color 300ms 1.2s ease-in-out, border-color 300ms 1.2s ease-in-out;
        }

    }

    summary:not(.btn,.video__transcript-toggle) {
    background-color: #eee;
    border: 1px #666 solid;
    cursor: pointer;
    display: inline-block;
    padding: 0.75em;
    text-decoration: none;
    }

    video {
    display: block;
    margin: 1em 0;
    max-width: 60em;
    }

    // Shared

    blockquote, figure img, video, section {
    border-radius: 10px;
    }

}
