figure {
margin: 1em 0;
}

figcaption {
color: #666;
}

main section {
border: 1px transparent solid;padding: 1em;
margin: 1em 0;
overflow-wrap: break-word;
padding: 1px 1em;
scroll-margin-top: 2em;
}

section:target {
background-color: #EEE;
border-color: #767676;
}

main li {
margin: 0.5em 0;
}

main figure img {
border: 1px #767676 solid;
width: 86em;
}

main video {
display: block;
margin: 1em 0;
max-width: 60em;
}

img[src="ico-refresh.png"] {
border-radius: 50%;
display: inline-block;
vertical-align: middle;
}

blockquote {
border: 1px #767676 solid;
margin: 1em 0;
padding: 1em;
}

blockquote, main figure img, main video, main section {
border-radius: 10px;
}