/*!

    Radancy: Accessibility Pulse

    Contributor(s):
    Michael "Spell" Spellacy

*/

@import url("https://radancy.dev/css/init.css");
@import url("https://radancy.dev/component-library/accordion/init.css");

:host {
all: initial;

  // Bookmarklet Overrides

  * {
  letter-spacing: normal !important;
  line-height: normal !important;
  word-spacing: normal !important;
  }

}

// Animation States

@keyframes fade-in {

  0% {
  opacity: 0;
  }

  100% {
  opacity: 1;
  }

}

@keyframes fade-out {

  0% {
  opacity: 1;
  }

  100% {
  opacity: 0;
  }

}

@keyframes slide-up {

  0% {
  transform: translateY(20%);
  }

  100% {
  transform: translateY(0%);
  }

}

// Bookmarklet Component

.a11y-pulse {
background-color: #fff;
display: block;
font: 100% / 1.6 "Graphik", "Helvetica", "Arial", sans-serif !important;
padding: 1em;
position: static;

    &[open] {
    animation: slide-up 800ms forwards, fade-in 400ms forwards;
    border-radius: 5px;
    height: calc(600rem/16);
    margin: 1em;
    max-width: calc(800rem/16);
    overflow-y: auto;
    place-self: center;
    position: fixed;
    resize: both;
    z-index: 2147483647;
    }

    &[closing] {
    animation: fade-out 400ms forwards;
    }

    --scroll-color-track: #EEE; // Track Color
--scroll-color-thumb: #6F00EF; // Thumb Color
--scroll-color-active: #666; // Active State


scrollbar-color: var(--scroll-color-thumb) var(--scroll-color-track);


.reset {

}
.reset {
    background-image: url(../img/btn-reset.png);
    border-radius: 5px;
    height: 40px;
    min-width: 0;
    padding: 0;
    position: fixed;
    width: 40px;
    z-index: 2;
    top: 13px;
    right: 16px;
}
button:not(.accordion__toggle) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    display: inline-block;
    min-width: 265px;
}
button:not(.accordion__toggle), input[type="file"]::file-selector-button {
    background-color: #ffcc36;
    border: .0625rem #000 solid;
    color: #000;
    display: inline-block;
    line-height: normal;
    padding: .9375em 1.5625em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}




    
}

