/*!

    Radancy: Accessibility Pulse

    Contributor(s):
    Michael "Spell" Spellacy

*/

@import url("https://radancy.dev/css/init.css");
@import url("https://radancy.dev/component-library/accordion/init.css");

:host {

--scroll-color-track: #EEE; // Track Color
--scroll-color-thumb: #6F00EF; // Thumb Color
--scroll-color-active: #666; // Active State

all: initial;

  // Bookmarklet Overrides

  * {
  letter-spacing: normal !important;
  line-height: 2 !important;
  word-spacing: normal !important;
  }

}

// Animation States

@keyframes fade-in {

  0% {
  opacity: 0;
  }

  100% {
  opacity: 1;
  }

}

@keyframes fade-out {

  0% {
  opacity: 1;
  }

  100% {
  opacity: 0;
  }

}

@keyframes slide-up {

  0% {
  transform: translateY(20%);
  }

  100% {
  transform: translateY(0%);
  }

}

.a11y-pulse {
background-color: #fff;
display: block;
font: 100% / 2 "Graphik", "Helvetica", "Arial", sans-serif !important;
max-width: calc(800rem/16);
padding: 1em;
position: static;
scrollbar-color: var(--scroll-color-thumb) var(--scroll-color-track);

    &[open] {
    animation: slide-up 800ms forwards, fade-in 400ms forwards;
    border-radius: 5px;
    height: calc(600rem/16);
    margin: 1em;
    overflow-y: auto;
    place-self: center;
    position: fixed;
    resize: both;
    z-index: 2147483647;
    }

    &[closing] {
    animation: fade-out 400ms forwards;
    }

    &__heading {
    color: #6F00EF;
    font-size: 26px;
    font-weight: 600;
    line-height: normal !important;
    margin: 0 0 1em;
    }

    &__close {
    background-color: #ffcc36;
    border-radius: 5px;
    border: calc(1rem/16) #000 solid;
    cursor: pointer;
    float: inline-end;
    height: calc(40rem/16);
    width: calc(40rem/16);

      img {
      width: calc(20rem/16);
      place-self: center;
      }

    }

    button:not(.accordion__toggle):not(.a11y-pulse__close):not(.btn) {
    background-color: transparent;
    border: 0;
    font: inherit;
    padding: 0;
    text-decoration: underline;
    }
  
}
