/*!

    Radancy: Accessibility Pulse

    Contributor(s):
    Michael "Spell" Spellacy

*/

// Fonts

$weight-thin: 100 !default; // Thin (Hairline)
$weight-extra-thin: 200 !default; // Extra Light (Ultra Light)
$weight-light: 300 !default; // Light
$weight-normal: 400 !default; // Normal (Often used as 'normal' instead of a number)
$weight-medium: 500 !default; // Medium
$weight-semi-bold: 600 !default; // Semi Bold (Demi Bold)
$weight-bold: 700 !default; // Bold (Often used as 'bold' instead of a number)
$weight-extra-bold: 800 !default; // Extra Bold (Ultra Bold)
$weight-black: 900 !default; // Black (Heavy)

@mixin fontface($font-path, $fileName, $fontName, $weight: normal, $style: normal, $display: swap) {

  @font-face {

    font-family: "#{$fontName}";
    src: local("#{$fontName}"),url("#{$font-path}#{$fileName}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: #{$display};

  }

}

// Common variables

$highlight-color: #6F00EF;
$highlight-color-active: #FFF;
$fallback-font: "Helvetica", "Arial", sans-serif;

// Other font variables

$font-file-path: "https://tbcdn.talentbrew.com/company/34730/full_v1_0/fonts";

// Maax Mono

@include fontface("#{$font-file-path}/maax-mono/", "maax-mono-regular-205tf", "Maax-Mono", $weight-normal);
@include fontface("#{$font-file-path}/maax-mono/", "maax-mono-italic-205tf", "Maax-Mono", $weight-normal, "italic");
@include fontface("#{$font-file-path}/maax-mono/", "maax-mono-bold-205tf", "Maax-Mono", $weight-bold);
@include fontface("#{$font-file-path}/maax-mono/", "maax-mono-bold-italic-205tf", "Maax-Mono", $weight-bold, "italic");

// Campton

@include fontface("#{$font-file-path}/campton/", "campton-book", "Campton", $weight-normal);
@include fontface("#{$font-file-path}/campton/", "campton-book-italic", "Campton", $weight-normal, "italic");
@include fontface("#{$font-file-path}/campton/", "campton-light", "Campton", $weight-light);
@include fontface("#{$font-file-path}/campton/", "Campton", "campton-light-italic", "Campton", $weight-light, "italic");

// Graphik

@include fontface("#{$font-file-path}/graphik/", "graphik-regular", "Graphik", $weight-normal);
@include fontface("#{$font-file-path}/graphik/", "graphik-regularitalic", "Graphik", $weight-normal, "italic");
@include fontface("#{$font-file-path}/graphik/", "graphik-semibolditalic", "Graphik", $weight-light, "italic");
@include fontface("#{$font-file-path}/graphik/", "graphik-semibold", "Graphik", $weight-bold); // NOTE: We are usuing the same weight as Bold here as the creative want to use the semi bold font as their bold
@include fontface("#{$font-file-path}/graphik/", "graphik-semibolditalic", "Graphik", $weight-bold, "italic"); // NOTE: We are usuing the same weight as Bold here as the creative want to use the semi bold font as their bold

// Global CSS


:root {
background-color: red;
}
  
:host { 
  
  font-size: initial;

}

// Animation States

@keyframes fade-in {

  0% {
  opacity: 0;
  }

  100% {
  opacity: 1;
  }

}

@keyframes fade-out {

  0% {
  opacity: 1;
  }

  100% {
  opacity: 0;
  }

}

@keyframes slide-up {

  0% {
  transform: translateY(20%);
  }

  100% {
  transform: translateY(0%);
  }

}

h1, h2, h3, h4, h5, h6, caption, table {
  font-family: "Campton", $fallback-font;
  font-weight: 400;
  line-height: normal;
  }

.a11y-pulse {
background-color: #fff;
display: block;
font: 100%/2 "Graphik", $fallback-font;
inset-block-start: 1em;
max-width: calc(800em/16);
min-width: calc(360em/16);
position: static;
scrollbar-color: #6F00EF #eee;
scrollbar-width: thin;
width: calc(800em/16);

    &[open] {
    animation: slide-up 800ms forwards, fade-in 400ms forwards;
    border-radius: 5px;
    height: calc(600em/16);
    margin: 1em;
    overflow-y: auto;
    padding: 1em;
    place-self: center;
    position: fixed;
    resize: both;
    z-index: 2147483647;
    }

    &[closing] {
    animation: fade-out 400ms forwards;
    }

    &__heading {
    color: #6F00EF;
    font-size: calc(26em/16);
    font-weight: 600;
    line-height: normal !important;
    margin: 0 0 1em;
    }

    &__close {
    background-color: #ffcc36;
    border-radius: 5px;
    border: calc(1em/16) #000 solid;
    cursor: pointer;
    float: inline-end;
    height: calc(40em/16);
    margin-block-start: 0.5em;
    width: calc(40em/16);
    position: sticky;
    top: 1em;
    right: 1em;
    z-index: 2;

      img {
      width: calc(20em/16);
      place-self: center;
      }

    }

    button:not(.accordion__toggle):not(.a11y-pulse__close):not(.btn) {
    background-color: transparent;
    border: 0;
    font: inherit;
    padding: 0;
    text-decoration: underline;
    }
  
}
