---
changelog: 

  - label: Important
    content: Coming soon.

roadmap: 

  - label: Important
    content: Coming soon.

title: "Accessibility Pulse v1.05"
desc: A bookmarklet with useful features to quickly scan web pages for common accessibility issues. It loads custom scripts and community-curated tools to enhance testing. To install, drag it to your browser's bookmarks bar or folder, then click it on any page to run the accessibility check.
accordion: true
---

{% include icon.html %}

{% capture contentblock %}

<a class="btn" href="javascript: (function () { var bookMarklet = document.createElement('script'); bookMarklet.setAttribute('src', 'https://radancy.dev/a11y/pulse/init.js'); document.body.appendChild(bookMarklet);}());">{{ iconBookmark }} A11y Pulse</a>

{% endcapture %}

{% include template.html %}