---
changelog: 

  - label: Important
    content: Coming soon.

roadmap: 

  - label: Important
    content: Coming soon.

title: "Accessibility Pulse v1.05"
desc: A companion tool for scanning web pages against <a href="../baseline/">Radancy's Accessibility Baselines</a> to identify common accessibility issues. To install, drag it to your browser's bookmarks bar or folder, then click it on any page to launch the tool and begin testing.
accordion: true
---

{% include icon.html %}

{% capture contentblock %}

  <a class="btn" href="javascript: (function () { var bookMarklet = document.createElement('script'); bookMarklet.setAttribute('src', '{{ site.url }}/pulse/init.js'); document.body.appendChild(bookMarklet);}());">{{ iconBookmark }} A11y Pulse</a>

{% endcapture %}

{% include template.html %}