---
changelog: 

  - label: Important
    content: "May 15, 2025: Initial revision and conversion of application to a web component."

title: "Accessibility Pulse v1.06"
desc: A companion tool for testing web pages against <a href="../baseline/">Radancy's Accessibility Baselines</a> to help identify common accessibility issues. To install, drag the bookmarklet to your browser's bookmark bar or folder, then click it on any page to launch the tool and begin testing.
accordion: true
---

{% include icon.html %}

{% capture contentblock %}

<a class="btn" href="javascript:(() => {

  const scriptID = 'a11y-pulse-component';

  if (!document.getElementById(`#${scriptID}`)) {

    const bookMarklet = document.createElement('script');

    bookMarklet.id = scriptID;
    bookMarklet.src = '{{ site.url }}{{ site.baseurl }}/pulse/component/load.js';

    document.body.append(bookMarklet);

  }

})();">{{ iconBookmark }} A11y Pulse</a>

{% endcapture %}

{% include template.html %}