


.a11y-pulse {
all: revert;
max-width: 60em;
margin: 1em auto;
z-index: 2147483647;
height: 600px;
overflow-y: auto;
background-color: #fff;
resize: both;
border-radius: 10px;
padding: 1em;
font: 100% / 2 "Graphik", "Helvetica", "Arial", sans-serif;

    * {
    all: revert;
    
    }

    button {
    color: red;
    }


}

$highlight-color: #6F00EF;


#headingoutline, #results {
margin-top: 2em;
  
    h2, ol, .failure, .details, .stats, .success, #permalink:empty {
    display: none;
    }
  
    .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000;
    font-weight: bold;
    }
  
    .headinglevel, .missingheadinglevel {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    line-height: normal;
    margin-right: .5em;
    padding: .5em;
    }
  
    .headinglevel {
    background-color: darkgreen;
    }
  
    .missingheadinglevel {
    background-color: #d20000;
    }
  
    .h2 {
    margin-left: 2em;
    }
  
    .h3 {
    margin-left: 4em;
    }
  
    .h4 {
    margin-left: 6em;
    }
  
    .h5 {
    margin-left: 8em;
    }
  
    .h6 {
    margin-left: 10em;
    }
  
  }
  