---
jquery: true
disclosure: true
localcss: init.css
title: "Accessibility Testing Baselines"
---

<p>The following subset of WCAG 2.1 Success Criteria make up the baseline of accessibility issues Radancy <em>strives</em> to meet in our products and websites. These issues are representative of the <em>most common</em> accessibility barriers and issues we encounter on a day to day basis and so, believing accessibility to be crucial, we make a good faith effort to always be on the lookout for them. However, there are no guarantees we are meeting any guidelines without full accessibility testing being performed, so if there is a need to fully support WCAG or other specific guidelines, please bring this to the attention of your account representative as soon as possible.</p>

<p>Please note that these baselines are subject to change as guidelines and our understanding of accessibility continue to evolve.</p>

{% include baselines.html %}

{% include bio-spell.html %}
